.navbar-expand-lg {
   padding-left: 2%;
   padding-right: 3%;
 }
  
 .navbar-collapse {
 font-family:"PT Sans";
 font-size: 1.2rem;
 font-weight: bolder;
 padding-left: 550px;
 color: #7876C2;
 }
  
 .navbar-collapse:hover {
    color: #B560F1;
    }
  
 input.form-control {
    border: solid 1px #B560F1;
    width: 300px;
    height: 30px;
  }
  /*.banner{
    margin: 1%;
 }
  .banner img{
    width:100%;
 }*/
   footer{
    height: 5%;
    background: #7876C2;
 }
 .foot{
    text-align: center;
    font-size: 20px;
    color: white;
 }
 .social{
    text-align: center;
    font-size: 30px;
    color: white;
 }
 .social i{
    padding: 2%;
 }
 .search {
    max-width: 30px;
 }
  
 .bar {
   width: 300px;
 }
 