body{
    margin: 1%;
 }
 header{
    width: 90%;
 }
  
 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .logo img{
    width: 20%;
 }
 .nav{
    margin: 100%;
    padding-left: 1%;
 }
 .text{
 padding: auto;
 font-family:"PT Sans";
 color: #B560F1;
 }
  
 .text:hover{
    padding: auto;
    font-family:Arial, Helvetica, sans-serif;
    color: #7113b5;
    }
  
  
  
 .form-nav{
    padding-left: 1%;
 }
 .form{
    border: solid 1px #B560F1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  
 }
  
 .banner{
    margin: 1%;
 }
  
 .banner img{
    width:100%;
 }
  
  
  
 footer{
    height: 20%;
    padding: 2%;
    background: #B560F1;
 }
 .foot{
    text-align: center;
    font-size: 20px;
    color: white;
 }
 .social{
    text-align: center;
    font-size: 30px;
    color: white;
 }
 .social i{
    padding: 2%;
 }
 